<a href="https://colab.research.google.com/github/NiyazovIlia/Python-Data-Science/blob/lesson-2/course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Real_Estate_Price_Prediction**

In [80]:
import numpy as np
import pandas as pd

real_estate_price_prediction = pd.read_csv('Real_Estate_Price_Prediction.csv')
real_estate_price_prediction.info()
#real_estate_price_prediction.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [57]:
real_max = pd.DataFrame(real_estate_price_prediction[{'Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Price'}].max(), dtype=np.int64).rename(columns={0:'real_max'})
real_min = pd.DataFrame(real_estate_price_prediction[{'Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Price'}].min(), dtype=np.int64).rename(columns={0:'real_min'})
real_mean = pd.DataFrame(real_estate_price_prediction[{'Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Price'}].mean(), dtype=np.int64).rename(columns={0:'real_mean'})
real_new = pd.concat([real_max, real_min, real_mean], axis=1)
real_new

               real_max  real_min  real_mean
KitchenSquare      2014         0          6
Ecology_1             0         0          0
DistrictId          209         0         50
Social_2          19083       168       5352
Price            633233     59174     214138
Square              641         1         56
Helthcare_2           6         0          1
Shops_1              23         0          4
Floor                42         1          8
HouseYear      20052011      1910       3990
Rooms                19         0          1
Healthcare_1       4849         0       1142
Id                16798         0       8383
Social_1             74         0         24
LifeSquare         7480         0         37
HouseFloor          117         0         12
Social_3            141         0          8

In [75]:
real_estate_price_prediction.value_counts()

2047     1
9502     1
11559    1
9510     1
13604    1
        ..
12907    1
10856    1
4711     1
6758     1
0        1
Name: Id, Length: 10000, dtype: int64
27     851
1      652
23     565
6      511
9      294
      ...
199      1
205      1
174      1
209      1
207      1
Name: DistrictId, Length: 205, dtype: int64
2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
19.0       1
6.0        1
Name: Rooms, dtype: int64
26.553188     1
46.363496     1
100.751999    1
70.726600     1
40.523022     1
             ..
76.481158     1
86.915187     1
82.482521     1
43.112986     1
97.664912     1
Name: Square, Length: 10000, dtype: int64
28.003539    1
19.224066    1
21.613298    1
25.688943    1
44.662105    1
            ..
37.980219    1
17.130385    1
33.273700    1
28.313300    1
28.421652    1
Name: LifeSquare, Length: 7887, dtype: int64
1.0       2460
8.0       1306
5.0       1169
10.0      1075
6.0       1038
9.0        843
0.0        697
7.0        609
12.0       249
11.0       233
13.0        67
14.0        51
4.0         39
15.0        31
3.0         22
16.0        16
20.0        14
17.0        12
19.0        11
18.0         6
2.0          4
22.0         3
43.0         2
112.0        2
41.0         2
32.0         2
58.0         2
25.0         2
37.0         2
30.0         2
51.0         2
40.0         1
96.0         1
48.0         1
72.0         1
73.0         1
2014.0       1
66.0         1
36.0         1
78.0         1
54.0         1
29.0         1
31.0         1
35.0         1
62.0         1
39.0         1
1970.0       1
60.0         1
75.0         1
26.0         1
21.0         1
84.0         1
63.0         1
123.0        1
53.0         1
42.0         1
23.0         1
27.0         1
Name: KitchenSquare, dtype: int64
4     949
5     876
3     872
6     802
7     759
8     643
9     604
2     588
10    553
11    457
12    438
13    398
14    362
16    290
15    287
17    256
1     235
18    185
19    121
20     68
21     59
22     54
24     53
25     34
23     25
26     18
27      5
28      3
32      2
42      1
33      1
37      1
31      1
Name: Floor, dtype: int64
17.0     2331
9.0      1389
12.0     1074
5.0      1031
14.0      625
16.0      576
1.0       497
25.0      374
22.0      343
0.0       269
24.0      176
8.0       141
10.0      135
4.0       134
3.0       127
15.0      123
19.0      108
20.0      105
18.0       89
7.0        59
6.0        58
2.0        48
23.0       40
21.0       33
11.0       28
13.0       27
30.0       21
40.0        7
27.0        6
32.0        4
37.0        4
28.0        3
99.0        2
48.0        2
39.0        2
44.0        1
36.0        1
26.0        1
45.0        1
29.0        1
38.0        1
47.0        1
117.0       1
31.0        1
Name: HouseFloor, dtype: int64
1977        2652
2017         308
2016         305
2015         299
2014         210
            ...
1947           1
1916           1
1910           1
1928           1
20052011       1
Name: HouseYear, Length: 97, dtype: int64
0.007122    587
0.000000    537
0.243205    511
0.072158    486
0.075779    346
           ...
0.386772      6
0.011320      3
0.394094      2
0.012522      1
0.014334      1
Name: Ecology_1, Length: 129, dtype: int64
B    9903
A      97
Name: Ecology_2, dtype: int64
B    9725
A     275
Name: Ecology_3, dtype: int64
2     688
1     654
25    557
5     528
30    465
23    434
6     377
22    367
53    355
34    311
33    252
46    245
31    243
43    238
9     213
36    209
21    207
37    205
24    205
52    201
0     201
35    200
47    177
74    176
39    159
27    151
28    144
4     141
11    138
42    129
26    127
16    123
19    118
66     99
17     96
49     95
18     92
32     87
41     83
50     79
29     70
38     64
8      62
15     51
20     50
14     46
10     24
13     22
12     18
7      15
3       9
Name: Social_1, dtype: int64
264     587
1564    511
629     486
1437    346
6398    245
       ...
568       3
1423      3
662       2
507       1
528       1
Name: Social_2, Length: 142, dtype: int64
0      2997
1      1861
3      1136
4       835
2       635
6       423
5       391
141     245
9       192
7       184
11      172
8       170
10      142
16      101
14       97
27       59
48       58
56       49
84       43
24       37
87       27
59       25
93       25
19       22
20       19
23       18
39       15
73       10
45        9
37        3
Name: Social_3, dtype: int64
540.0     511
30.0      348
1046.0    245
750.0     163
229.0     148
         ...
370.0      14
32.0       12
1815.0     10
35.0        2
0.0         1
Name: Healthcare_1, Length: 79, dtype: int64
0    4214
1    2183
3    1670
2    1158
5     388
4     288
6      99
Name: Helthcare_2, dtype: int64
0     2316
1     1325
5     1324
2      964
4      841
3      711
6      487
11     401
9      316
7      294
8      253
23     245
10     215
15     176
16      83
19      49
Name: Shops_1, dtype: int64
B    9175
A     825
Name: Shops_2, dtype: int64
341929.003556    1
161087.979229    1
283929.014390    1
290669.145744    1
159236.670699    1
                ..
171970.292608    1
239621.680768    1
228203.450389    1
98672.359341     1
146198.625537    1
Name: Price, Length: 10000, dtype: int64

Id     DistrictId  Rooms  Square      LifeSquare  KitchenSquare  Floor  HouseFloor  HouseYear  Ecology_1     Ecology_2  Ecology_3  Social_1  Social_2  Social_3  Healthcare_1  Helthcare_2  Shops_1  Shops_2  Price
16798  22          1.0    39.956966   19.874715   8.0            2      17.0        1989       1.332153e-01  B          B          49        11395     3         1406.0        3            4        A        183467.407815    1
5579   90          2.0    52.512769   30.133454   8.0            16     17.0        1988       2.460315e-01  B          A          22        3151      4         2715.0        3            3        B        314948.199380    1
5569   118         4.0    100.243221  67.756645   8.0            4      9.0         1964       2.184397e-01  B          B          21        4472      6         1450.0        4            7        A        482603.543577    1
5570   140         1.0    39.702308   22.236080   8.0            10     12.0        2001       2.386171e-01  B          B          26        3889      6         705.0         3            6        B        220719.575850    1
5572   1           1.0    40.238902   22.746541   10.0           7      22.0        1990       2.560916e-02  B          B          33        5261      0         240.0         3            1        B        149711.779021    1
                                                                                                                                                                                                                              ..
11133  111         2.0    64.117904   38.336145   10.0           7      18.0        2007       9.344256e-02  B          B          23        4635      5         3300.0        2            4        B        375823.723213    1
11125  8           1.0    36.288029   25.891884   5.0            2      5.0         1962       4.378852e-01  B          B          23        5735      3         1084.0        0            5        B        136477.724311    1
11123  3           3.0    59.991617   46.868066   5.0            8      12.0        1974       5.090006e-02  B          B          43        10621     1         30.0          2            3        B        214254.554142    1
11120  207         3.0    76.780960   55.770043   7.0            2      5.0         1931       1.800000e-09  B          B          16        3681      73        1815.0        2            5        B        426186.409334    1
0      0           1.0    109.144492  84.613939   15.0           6      15.0        2011       3.198094e-01  B          B          25        4756      16        2857.0        5            8        B        289034.391871    1
Length: 4457, dtype: int64

In [74]:
real_null = pd.DataFrame(real_estate_price_prediction.isnull().sum())
real_null

                  0
Id                0
DistrictId        0
Rooms             0
Square            0
LifeSquare     2113
KitchenSquare     0
Floor             0
HouseFloor        0
HouseYear         0
Ecology_1         0
Ecology_2         0
Ecology_3         0
Social_1          0
Social_2          0
Social_3          0
Healthcare_1   4798
Helthcare_2       0
Shops_1           0
Shops_2           0
Price             0

Как мы видим из последних данных, есть пустые значения который будут мешать нам в дальнейшем, так же есть некорректность данных, к примеру максимальное значение размеров кухни 2014, такого не может быть.